@{
    ViewBag.Title = "Acerca de...";
}

<h1 style="text-align: center">AIS</h1>
<br />
<h3></h3>
<h3>Mision</h3>
<h3 style="text-align: justify">
    Diseñar un modelo e implementar funciones que den solucion a los usuarios para proveer agua en sus cultivos y/o plantas,
    en un sistema de riego automatizado, que se puede adaptar a cualquie entorno en que este se encuentre.
</h3>
<h3>Vision</h3>
<h3 style="text-align: justify">
    Ser el lider de la region en proyectos tecnologicos, gestionando modelosde negocios innovadores en sistemas de riego automatizados.
</h3>
<center>
<img style="text-align: center" src="~/Img/Control-de-riego.jpg" width="650" height="300" />
</center>