@{
    ViewBag.Title = "Home Page";
}

<div class="slider" style="padding:15px">
    <ul>
        <li>
            <img src="~/Img2/WhatsApp Image 2023-03-07 at 1.24.25 PM (1).jpeg" height="500"  width="100"/>
           
        </li>
        <li>
            <img src="~/Img2/WhatsApp Image 2023-03-07 at 1.24.25 PM (2).jpeg" height="500"  width="100"/>
           
        </li>
        <li>
            <img src="~/Img2/WhatsApp Image 2023-03-07 at 1.24.25 PM (3).jpeg" height="500"  width="100"/>
           
        </li>
        <li>
            <img src="~/Img2/WhatsApp Image 2023-03-07 at 1.24.25 PM (4).jpeg" height="500"  width="100"/>
            
        </li>
    </ul>
</div>




<div class="jumbotron" style="background-color: #16533f">
    <h1 style="color: white; text-align:center">AIS</h1>
    <p class="lead" style="color: white">
        Se trata de un sistema de riego que provee de agua a los cultivos de manera automatizada y que emplea normalmente<br />
        la aspersión o el goteo. Existen sistemas de riego automático que combinan tanto la aspersión como el goteo<br />
        y que permiten combinar las ventajas de ambas técnicas.

        Holaaaaaaaa, CSS and JavaScript.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Img/ccd94090-9735-4159-b2fd-4acf8c0c9eb8.jpg" style="padding-top: 1px; width: 250px; text-align: center;" />
        <h2>AIS</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Img/44a09e22-73b0-4649-90e0-66d79af3a47f.jpg" style="padding-top: 1px; width: 250px; text-align: center;" />
        <h2>Tips</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Img/2693eb0c-5a4e-4b01-93a0-6870108d9145.jpg" style="padding-top: 1px; width: 250px; text-align: center;" />
        <h2>¿Quienes somos?</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<h2 style="color:blue">Proyecto AIS</h2>
<h6>Pagina WEB</h6>